#intro {
  text-align: left;
  padding: 40px;
  background: url(../../assets/img/working.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.jumbotron {
  border-radius: 20px;
  background-color: rgba(255,255,255,0.75);
  text-align: left;
}

